header{
    height:5%;

}
#logo{
    position:relative;
    top:30%;
}

nav ul{
   position:relative;
   height:70px;
   border:5px solid red;

}
nav li{
    height:100%;
    border: 2px solid yellow;

}
a{
    top:-85%;
    position:none;
    border:3px solid purple;
}