#accueil{
    height:140px;
}
#nav{
    height:140px;
}
h1{
    width:100%;

}
#menu{
    width:auto;
    height:auto;
    position:relative;
    top: 8%;
    left: -42%;
}
#menu p{
    float:none;
    position:relative;
    top:0%;
    left:30%;
    padding-top: 4%;

}
#menu p:hover{
    border-top:4px solid #30a2bf;
}
.scroll{
    
}
h1 img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    top:35%;
    left:0;
}
.service{
    top:690px;
}
.alltxt{
    font-size:20px;

}
.aide{
    font-size:9.3px;
}
button{
    transform:scale(0.9);
}
