/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background: #FFF;
    margin: 0;
    padding: 0;
}
p {
    font-size: 0.8em;
    font-weight: 500;
}
.blue-color {
    color: rgb(92, 173, 211);
}
#nav {
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
#menu {
    margin-left: 180px;
    display: flex;
    align-items: center;
    height: 100%;
}
#menu a {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    border-top: 6px solid #FFF;
    font-family: 'Roboto', sans-serif;
    color: rgb(120, 120, 120);

}
#menu a:hover {
    border-top: 6px solid rgb(92, 173, 211);
    color: rgb(85, 85, 85);

}
#slider {
    width: 100%;
    height: 493px;
}
#slider {
    margin-top: 93px;
    position: relative;
}
.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide_img img {
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3 {
    display: none;
}
.pre, .nxt {
    position: absolute;
    top: 46%;
    z-index: 99;
    cursor: pointer;
}
.pre {
    left: 0;
}
.nxt {
    right: 0;
}
.arrow {
    position: relative;
    top: 46%;
    display:flex;
    z-index: 9;
}
.arrow right_arrow {
    position: relative;
    left: 84.5%;
}

#i1:checked ~ #one,
#i2:checked ~ #two {
    z-index: 9;
}
.alltxt {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    top: 45%;
    left: 10.5%;
    z-index: 9;
    font-family: 'RobotoBlack', Impact;
    color: white;
}
span {
    color: rgb(92, 173, 211);

}
.aide {
    font-family: 'RobotoMedium', Impact;
    font-size: 0.78124rem;
    margin: 15px auto;
}
button {
    background-color: rgb(92, 173, 211);
    color: white;
    font-family: 'RobotoMedium', Arial, Helvetica, sans-serif;
    font-size: 16.5px;
    width: 114px;
    height: 42px;
    border-color: #4494bb;
    border-bottom: 3px solid #4494bb;
    border-radius: 3px 3px 3px 3px;
}
.timeline {
    position: absolute;
    bottom: 0.1%;
    left: 0%;
    width: 10%;
    height: 4px;
    background-color: #4494bb;
    z-index: 9;
}

h2,h3 {
    display: flex;
    justify-content: center;
    font-family: 'Robotobold', sans-serif;
}
h2{
    font-size: 235%;
    letter-spacing: 0;
    padding-top: 25px;
    margin-bottom: 10px;
}
.definition {
    font-family: 'Robotobold', sans-serif;
    margin: 1% 5%;
    color: #85888c;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}
.mac {
    width: 50%;
}
.client {
    width: 50%;
}
.description {
    display: flex;
    height: 500px;
}
.circle {
    width: 12px;
    height:12px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #5cadd3;
    margin-left: 50%;
}
.circle:before {
    content: '';
    width: 3em;
    border-bottom:2px #ededed solid;
    display: inline-block;
    position: relative;
    top: -6px;
    left: -53px;
}
.circle:after{
    content: '';
    width: 3em;
    border-bottom:2px #ededed solid;
    display: inline-block;
    position: relative;
    top: -22.3px;
    left: 16px;
}
.mac img {
    width: 460px;
    height: 288px;
    position: relative;
    top: 6%;
    left: 16%;
}
.UX {
    margin-top: 108px;
}
.UX, .UI, .SEO {
    display: flex;
    margin-bottom: 35px;
    width: 85%;
    line-height: 22px;
    align-items: flex-start;
}
.icon {
}

.mycircle {
    position: relative;
    padding: 18px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-left: 15px;
}
.mycircle i {
    color: #5cadd3;
}
.round {
    width: 12px;
    height:12px;
    border-radius: 10px;
    background-color: #5cadd3;
    position: absolute;
    top: 37%;
    left: 93%;
}
h4 {
    font-family: 'Robotobold', sans-serif;
    margin-bottom: 5px;
}
.client p {
    font-family: 'Roboto', sans-serif;
    color: #85888c;
}
#portfolio {
    background-color: #f5f5f5;
}
.buttonMenu {
    margin-top: 50px;
}
.buttonMenu li {
    background-color: #e5e5e5;
    color: #75797d;
    padding: 15px;
    font-family: 'RobotoMedium', Impact;
    font-size: 14px;
    position: relative;

}
.buttonMenu ul {
    display: flex;
    text-align: center;
    justify-content: center;
}
.buttonMenu li:hover {
    background-color: #5cadd3;
    color: #FFF;
    border-bottom: 4px solid #468cad;
}
.buttonMenu li:hover a {
    background-color: #5cadd3;
    color: #FFF;
}
.buttonMenu li:hover .triangle {
    opacity: 1;  
}
.buttonMenu .first a {
    color: #FFF;
}
.buttonMenu .first {
    background-color: #5cadd3;
    border-bottom: 4px solid #468cad;
}
.buttonMenu .first .triangle {
    opacity: 1;
}
.buttonMenu a {
    text-decoration: none;
    color: #75797d;
    font-family: 'RobotoMedium';
}
.first {
    border-radius: 5px 0 0 5px;
}
.last {
    border-radius: 0 5px 5px 0;

}
.triangle {
    position: absolute;
    top: 105%;
    left: 39.5%;
    height : 0;
    width : 0;
    border-top : 10px solid #468cad;
    border-right : 6px solid transparent;
    border-left : 7px solid transparent;
    opacity: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 97%;
    grid-gap: 20px;
    justify-content: center;
    margin: 50px 20px;
}
figure {
    position: relative;
}
figure img {
    width: 100%;
    height: 100%;
}
figcaption {
    position: absolute;
    left: 0%;
    bottom: 1%;
    width: calc(100% - 20px);
    height: 30%;
    padding: 10px;
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    font-family: 'Robotobold';
}
figcaption p {
    margin-top: 7px;
    font-family: 'Roboto';
    margin-left: 10px;
}
figcaption h5{
    margin-left: 10px;
}

figure:hover figcaption {
    opacity: 1;
    color: #FFF;
}
.gridCircle {
    position: absolute;
    top: -30%;
    right: 10%;
    border: 2px solid white; 
    border-radius: 50%;
    padding: 15px;
    background-color: #5cadd3;
    z-index: 4;
    opacity: 0;
}
figure:hover .gridCircle {
    opacity: 1;
}
.gridCircle i {
    color: #FFF;
}
#contact {
    width: 100%;
}
.map {
    position: relative;
    width: 100%;
}
iframe {
    opacity: 0.8;
    z-index: 5;
}
.blue {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 450px;
    background-color: #2fb3f0;
    z-index: -1;
}
.formulaire {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 80%;
    width: 20%;
    z-index: 3;
    background-color: rgba(255, 255, 255, .7);
    margin: 15px;
    font-family: 'Roboto';
}
iframe {
    opacity: 0.8;
}
form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #75797d;
}
.formulaire h5 {
    font-family: 'Robotobold';
    color: #000;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
h6{
    font-family: 'RobotoMedium';
    font-size: 0.8rem;
}
.formulaire p {
    margin-bottom: 20px;
}
.formulaire input {
    margin: 5px;
}
.formulaire button {
    width: 60%;
    height: 15%;
    margin: 5px;
    margin-top: 10px;
    font-size: 0.8rem;

}
#services, #portfolio, #contact {
    padding-top: 90px;
}
.formulaire textarea {
    margin-left: 5px;
}
@media screen and (max-width: 1024px) {
    #nav {
        display: initial;
        height: auto;
    }
    h1 {
        text-align: center;
    }
    #menu {
        margin-left: 0;
        margin-top: 20px;
        justify-content: space-around;
    }
    #menu a {
        margin-bottom: 15px;
    }
    #menu a:hover {
    border-bottom: 4px solid rgb(92, 173, 211);
    border-top: 4px solid rgb(92, 173, 211);
    }
    #nav p {
        margin: auto;
        height: auto;
    }
    .alltxt {
        font-size: 2rem; 
    }
    .mycircle {
        padding: 12px;
        border-radius: 100%;
    }
    .mycircle i {
        font-size: 1em;
    }
    .formulaire button {
        width: 98%;
        margin-left: 5px;
        margin-top: 5px;      
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 20px; 
    }
    figcaption {
        opacity: 1;
    }
    .gridCircle {
        opacity: 1;
        top: -20%;
    }
}
@media screen and (max-width: 960px) {
    .pre, .nxt {
        opacity: 0;
    }
    .slide_img {
        height: 60%;
    }
    .alltxt{
        font-size: 1.5rem;
        top: 70%;
        width: 80%;
        text-align: center;
        color: rgb(92, 173, 211);
    }
    .timeline {
        visibility: hidden;
    }
    .description {
        flex-direction: column;
        height: auto;
    }
    .mac {
        width: 100%;
        text-align: center;
    }
    .mac img {
        left: 0;
    }
    .client {
        width: 100%;
    }
    .UX, .UI, .SEO {
        width: 90%;
    }
    .UX {
        margin-top: 0;
    }
    .buttonMenu{
        margin-bottom: 20px;
    }
    .grid {
        margin: auto;
        grid-gap: 10px;
    }
    .formulaire {
        position: relative;
        right: 0;
        width: auto;
    }
    .formulaire h5, h6 {
        text-align: center;
    }
    .formulaire p {
        margin-bottom: 10px;
        text-align: center;
    }


}
@media screen and (max-width: 650px) {
    #slider {
        position: initial;
        margin-top: 114px;
        height: 350px;
    }
    .slide_img img {
        height: auto;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr); 
    }
    .alltxt {
        top: 350px;
    }
    .mac img {
        left: -45px;    
    }
    .formulaire button {
        width: 50%;
    }
}