/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background: #FFF;
    margin: 0;
    padding: 0;
}
p {
    font-size: 0.8em;
    font-weight: 500;
}
.blue-color {
    color: rgb(92, 173, 211);
}
#nav {
    /*position: fixed;*/
    top: 0;
    height: 90px;
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
#menu {
    margin-left: 180px;
    display: flex;
    align-items: center;
    height: 100%;
}
#menu a {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    border-top: 6px solid #FFF;
    font-family: 'Roboto', sans-serif;
    color: rgb(120, 120, 120);

}
#menu a:hover {
    border-top: 6px solid rgb(92, 173, 211);
    color: rgb(85, 85, 85);

}
#slider {
    position: relative;
    width: 100%;  
}
.slide_img {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide_img img {
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3 {
    display: none;
}
#two {
    display: none;
}
.pre, .nxt {
    position: absolute;
    top: 46%;
    z-index: 99;
    cursor: pointer;
}
.pre {
    left: 0;
}
.nxt {
    right: 0;
}


#i1:checked ~ #one,
#i2:checked ~ #two {
    z-index: 9;
}
.alltxt {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    top: 30%;
    left: 10.5%;
    z-index: 9;
    font-family: 'RobotoBlack', Impact;
    color: white;
}
span {
    color: rgb(92, 173, 211);

}
.aide {
    font-family: 'RobotoMedium', Impact;
    font-size: 0.78124rem;
    margin: 15px auto;
}
button {
    background-color: rgb(92, 173, 211);
    color: white;
    font-family: 'RobotoMedium', Arial, Helvetica, sans-serif;
    font-size: 16.5px;
    width: 114px;
    height: 42px;
    border-color: #4494bb;
    border-bottom: 3px solid #4494bb;
    border-radius: 3px 3px 3px 3px;
}
.timeline {
    position: absolute;
    bottom: 0.7%;
    left: 0%;
    width: 10%;
    height: 4px;
    background-color: #4494bb;
    z-index: 9;
}
#services {
    /*position: absolute;
    top: 650px;
    width: 100%;
    height: 20%;
    justify-content: center;*/
}
h2,h3 {
    display: flex;
    justify-content: center;
    font-family: 'Robotobold', sans-serif;
}
h2{
    font-size: 235%;
    letter-spacing: 0;
    padding-top: 25px;
    margin-bottom: 10px;
}
.definition {
    font-family: 'Robotobold', sans-serif;
    margin: 1% 20%;
    color: #85888c;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}
.mac {
    width: 50%;
}
.client {
    width: 50%;
}
.description {
    display: flex;
    height: 500px;
}
.circle {
    width: 12px;
    height:12px;
    border-radius: 10px;
    background-color: #5cadd3;
    margin-left: 50%;
}
.circle:before {
    content: '';
    width: 3em;
    border-bottom:2px #ededed solid;
    display: inline-block;
    position: relative;
    top: -6px;
    left: -53px;
}
.circle:after{
    content: '';
    width: 3em;
    border-bottom:2px #ededed solid;
    display: inline-block;
    position: relative;
    top: -22.3px;
    left: 16px;
}
.mac img {
    width: 460px;
    height: 288px;
    position: relative;
    top: 6%;
    left: 16%;
}
.UX {
    margin-top: 108px;
}
.UX, .UI, .SEO {
    display: flex;
    margin-bottom: 55px;
}
.icon {
}

.mycircle {
    position: relative;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-left: 15px;
}
.mycircle i {
    color: #5cadd3;
}
.round {
    width: 12px;
    height:12px;
    border-radius: 10px;
    background-color: #5cadd3;
    position: absolute;
    top: 37%;
    left: 93%;
}
h4 {
    font-family: 'Robotobold', sans-serif;
    margin-bottom: 10px;
}
.client p {
    font-family: 'Roboto', sans-serif;
    color: #85888c;
}
#projet {
    background-color: #f5f5f5;
}
.buttonMenu {
    text-align: center;
}
.buttonMenu button {
    background-color: #e5e5e5;
    color: #75797d;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 20px;
    justify-content: center;
    margin: 50px 20px;
}
.pictures {
    position: relative;
}
.pictures img {
    width: 100%;
    height: 100%;
}
.items {
    position: absolute;
    left: 0%;
    bottom: 1.2px;
    height: 30%;
    width: 100%;
    background-color: black;
    z-index: 2;
    opacity: 0;
}
.object {
    position: absolute;
    left: 0%;
    bottom: 5%;
    width: 100%;
    opacity: 0;
    color: white;
    text-align: center;
}
.pictures:hover .items {
    opacity: 0.4;
}
.pictures:hover .object {
    opacity: 1;
    color: #FFF;
}
#contact {
    width: 100%;
    margin-top: 150px;

}