@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf') format('truetype'),
		 url('fonts/Roboto-Regular.woff') format('woff');
}
@font-face{
	font-family: 'RobotoItalic';
	src: url('fonts/Roboto-italic.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoBold';
	src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoItalicB';
	src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoBlack';
	src: url('fonts/Roboto-Black.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoBlackI';
	src: url('fonts/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoLight';
	src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoLightI';
	src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoMedium';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoMediumI';
	src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoThin';
	src: url('fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face{
	font-family: 'RobotoThinI';
	src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
}